<a href="https://colab.research.google.com/github/Kunal-Aher/Data/blob/main/pyspark3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open("test1.csv","w") as f1:
  f1.write('''Name	age	Experience	Salary
Krish	31	10	30000
Sudhanshu	30	8	25000
Sunny	29	4	20000
Paul	24	3	20000
Harsha	21	1	15000
Shubham	23	2	18000''')

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("DATA").getOrCreate()

In [ ]:
df=spark.read.csv("test1.csv",sep="\t",header=True,inferSchema=True)
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.columns

['Name', 'age', 'Experience', 'Salary']

NameError: name 'outputCol' is not defined